<!-- Navbar STart -->
<div id="topnav" class="container defaultscroll sticky">
	<!-- Logo container-->
	@*<a class="logo" href="index.html">
		<span class="logo-light-mode">
			<img src="images/logo-dark.png" class="l-dark" height="24" alt="">
			<img src="images/logo-light.png" class="l-light" height="24" alt="">
		</span>
		<img src="images/logo-light.png" height="24" class="logo-dark-mode" alt="">
	</a>*@

	<div id="navigation">
		<!-- Navigation Menu-->
		<ul class="navigation-menu nav-light">
			<li>
				<NavLink class="sub-menu-item" href="/" Match="NavLinkMatch.All">Home</NavLink>
			</li>
			<li class="sub-menu-item">
				<NavLink class="sub-menu-item" href="/customeroverview">Customers</NavLink>
			</li>

			<li class="sub-menu-item">
				<NavLink class="sub-menu-item" href="/sportgoodoverview">SportGoods</NavLink>
			</li>
			<li>
				<NavLink class="sub-menu-item" href="/about">About</NavLink>
			</li>
		</ul><!--end navigation menu-->
	</div><!--end navigation-->
</div><!--end container-->
<!-- Navbar End -->
